<h2>Robotics Tasks</h2>

<div id="content">
	<section id="add_task">  
	  <form action="/" method="post">  
		<input type="text" name="content" placeholder="Add a task to &quot;Robotics&quot;...">
		<select name="subdivision">
			<% @boards.each do |board| %>
				<option value="<%= board.name %>"><%= board.name %></option>
			<% end %>
		</select>
		<input type="submit" value="Add task" style="position: absolute; left: -9999px; width: 1px; height: 1px;">  
	  </form>
	</section>

	<section id="tasks">
		<div id="current">
			<% @tasks.each do |task| %>
				<% if task.complete == false %>
					<article>
						<div class="labels">
							
						</div>
						
						<div class="task_content">
							<span><a href="/<%= task.id %>/complete">&#8623;</a></span> 
							<h5><a href="/<%= task.id %>"><%= task.content %></a></h5>
						</div>
						<p><%= task.subdivision %></p>
					</article>
				<% end %>
			<% end %>
		</div>
		
		<div id="complete">
			<div>
				<h4 class="hide-show"><a href="#">Completed Tasks</a></h4>
				<span class="hide-show"></span>
			</div>
		
			<% @tasks.each do |task| %>
				<% if task.complete == true %>
					<article class="complete">
						<div class="labels">
							
						</div>
						
						<div class="task_content">
							<span><a href="/<%= task.id %>/complete">&#8623;</a></span> 
							<h5><a href="/<%= task.id %>"><strike><%= task.content %></strike></a></h5>
						</div>
					</article>
				<% end %>
			<% end %>
		</div>
	</section>
</div>