<div id="add">  
  <form action="/" method="post">  
    <input type="text" name="content">  
    <input type="submit" value="Add Task" style="position: absolute; left: -9999px; width: 1px; height: 1px;">  
  </form>
</div>

<% @notes.each do |note| %>  
  <article <%= 'class="complete"' if note.complete %>>
  	<div class="task">
  		<span><a href="/<%= note.id %>/complete">&#8623;</a></span> 
    	<span><a href="/<%= note.id %>"><%= note.content %></span> 
    	<span><a href="/<%= note.id %>/delete">Delete</a></span>
    </div>
  </article>  
<% end %>    

<div id="tasks">
	
</div>