<% if @note %>  
  <form action="/<%= @note.id %>" method="post" id="edit">
  	<p>
  		<input type="checkbox" name="complete" <%= "checked" if @note.complete %>>  
  		<%= @note.content %>
  		<a href="/">Return</a>
  	</p>
  	<p> 
    	<input type="hidden" name="_method" value="put">  
    	<textarea name="content"><%= @note.content %></textarea>  
    </p>
    <p>
    	<input type="submit">
    	<p>Created <%= @note.created_at %></p>
		<a href="/<%= @note.id %>/delete">Delete</a>
	</p>  
  </form>  
<% else %>  
  <p>Note not found.</p>  
<% end %>  