<% if @task %>
	<%=
	@tasks = Task.all :order =>:id.desc
	@boards = Board.all :order => :id.asc
	erb :dashboard
	%>
	
 	<div id="sidebar">
		<form action="/<%= @task.id %>" method="post" id="edit">
			<input type="hidden" name="_method" value="put">
			<div>
				<input type="checkbox" name="complete" <%= "checked" if @task.complete %>>  
				<h3><textarea name="content"><%= @task.content %></textarea></h3>
			</div>
			<div id="edit_content">
				<div id="board">
					<h3>Subteam</h3>
					<select name="board_id">
						<% @boards.each do |board| %>
							<% if @task.board.id == board.id %>
								<option value="<%= board.id %>" selected><%= board.name %></option>
							<% else %>
								<option value="<%= board.id %>"><%= board.name %></option>
							<% end %>
						<% end %>
					</select>
				</div>
					<h3>Priority</h3>
					<select name="priority_id">
						<% @priorities.each do |priority| %>
							<% if @task.priority.id == priority.id %>
								<option value="<%= priority.id %>" selected><%= priority.level %></option>
							<% else %>
								<option value="<%= priority.id %>"><%= priority.level %></option>
							<% end %>
						<% end %>
					</select>
				</div>
				<textarea name="description"><%= @task.description %></textarea>  
			</div>
			<div>
				<a href="/<%= @task.id %>/delete">Delete</a>
				<p>Created <%= @task.created_at %></p>
				<input type="submit">
			</div>  
		</form> 
	</div> 
<% else %>  
  <p>Task not found.</p>  
<% end %>