<section id="add">  
  <form action="/" method="post">  
    <input type="text" name="content">  
    <input type="submit" value="Add Task">  
  </form>
</section>

<% @notes.each do |note| %>  
  <article <%= 'class="complete"' if note.complete %>>
  	<div class="task">
  		<span><a href="/<%= note.id %>/complete">&#8623;</a></span> 
    	<span><a href="/<%= note.id %>"><%= note.content %></span> 
    	<span><a href="/<%= note.id %>/delete">Delete</a></span>
    </div>
  </article>  
<% end %>    

<div id="tasks">
	<h2>Prototyping</h2>
	<h2>Design</h2>
	<h2>Electrical</h2>
	<h2>Programming</h2>
	<h2>Business</h2>
</div>